.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.heading {
  color: var(--color-accent);
  font-weight: 600;
}
